* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(182, 255, 122, 0.5);
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-link {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 1em;
    transition: background-color 0.5s;
}

.nav-link:hover {
    background-color: dodgerblue;
}

ul li.nav-link {
    list-style-type: none;
}

main {
    max-width: 80%;
    padding-top: 50px;
    margin: auto;
}

.oferta {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 200px;
    margin: 20px;
}

.obraz {
    width: 30%;
    background: url("http://placekitten.com/600/200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.info {
    width: 70%;
    margin-left: 2em;
}